<nav class="d-lg-flex justify-content-between d-none">
    <div class=" align-items-lg-center mt-lg-5 mb-lg-5">
        <a href="index.html" class="list-unstyled text-black ">
            <img src="../assets/images/logo.png" alt="LOGO" class="img-flulid">
            <h2 class="d-inline ps-3 align-middle Yeseva-One fw-normal">7TAO</h2>
            <span class="pe-9 align-middle noto-tc-serif">活動訂票網</span>
        </a>
        <input type="text" placeholder="探索活動" class="bg-light border-black  p-2 fs-1" >
        <i class="icofont-search-1 bg-black icon p-3 text-warning mly-5 align-middle"></i>
    </div>
    <div class="d-lg-flex align-items-lg-center">
        <a href="#" class="Mob-none">
            <i class="icofont-ui-file"></i>
            <span class="align-middle">REGISTER</span>
        </a>
        <a href="login.html" class="Mob-none">
            <i class="icofont-ui-user ms-3"></i>
            <span class="align-middle">LOGIN</span>
        </a>
    </div>
</nav>


<!--Mobile-->
<nav class="container py-12 d-flex align-items-center justify-content-between  d-lg-none">
  <div class=" align-items-center mt-3 mb-3 none">
    <a href="index.html" class="list-unstyled text-black ">
        <img src="../assets/images/logo.png" alt="LOGO" class="img-flulid">
    </a>
</div>
<div class=" align-items-center mt-3 mb-3 none">
  <input type="text" placeholder="探索活動" class="bg-light border-black  p-2 fs-1" >
    <i class="icofont-search-1 bg-black icon p-3 text-warning mly-5 align-middle"></i>
</div>
  <div class="hamburger none">
    <a class="d-flex align-items-center px-2 py-2 border border-dark rounded h-100 none " data-bs-toggle="collapse" href="#collpase" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="icofont-navigation-menu text-black"></i></i>
    </a>
  </div>
</nav>

<div class="collapse" id="collpase">
  <ul class="container list-unstyled border-bottom border-2 border-dark py-4">
    <li class="mb-3">
      <a href="#" class="d-flex align-items-center">
          <i class="icofont-ui-file me-1"></i>
          <span class="align-middle">REGISTER</span>
      </a>
    </li>
    <li>
      <a href="login.html" class="d-flex align-items-center">
          <i class="icofont-ui-user me-1"></i>
          <span class="align-middle">LOGIN</span>
      </a>
    </li>
  </ul>
</div>

